<div class="container">
    <div class="block-header">
        <h2>Other Components</h2>

        <ul class="actions">
            <li>
                <a href="">
                    <i class="zmdi zmdi-trending-up"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="zmdi zmdi-check-all"></i>
                </a>
            </li>
            <li class="dropdown" uib-dropdown>
                <a href="" uib-dropdown-toggle>
                    <i class="zmdi zmdi-more-vert"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a href="">Refresh</a>
                    </li>
                    <li>
                        <a href="">Manage Widgets</a>
                    </li>
                    <li>
                        <a href="">Widgets Settings</a>
                    </li>
                </ul>
            </li>
        </ul>

    </div>

    <div class="card">
        <div class="card-header">
            <h2>Breadcrumbs <small>Indicate the current page's location within a navigational hierarchy.</small></h2>

            <ul class="actions">
                <li class="dropdown action-show" uib-dropdown>
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <div class="dropdown-menu pull-right">
                        <p class="p-20">
                            You can put anything here
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="card-body card-padding">
            <p>Separators are automatically added in CSS through <code>:before</code> and <code>content</code>.</p>

            <ol class="breadcrumb">
                <li class="active">Home</li>
            </ol>

            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Library</li>
            </ol>

            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Library</a></li>
                <li class="active">Data</li>
            </ol>

            <br/>

            <a data-ui-sref="breadcrumb-demo" class="btn btn-primary">Breadcrumb Demo</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Jumbotron <small>A lightweight, flexible component that can optionally extend the entire viewport to showcase key content on your site.</small></h2>

            <ul class="actions">
                <li class="dropdown action-show" uib-dropdown>
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <div class="dropdown-menu pull-right">
                        <p class="p-20">
                            You can put anything here
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="card-body card-padding">
            <div class="jumbotron">
                <h1>Hello, world!</h1>
                <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>

            <p>To make the jumbotron full width, and without rounded corners, place it outside all <code>.container</code>s and instead add a <code>.container</code> within.</p>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>Media object <small>Abstract object styles for building various types of components (like blog comments, Tweets, etc) that feature a left- or right-aligned image alongside textual content.</small></h2>

            <ul class="actions">
                <li class="dropdown action-show" uib-dropdown>
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <div class="dropdown-menu pull-right">
                        <p class="p-20">
                            You can put anything here
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="card-body card-padding">
            <div class="alert alert-info alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                Bootstrap 3.3's Media objects codes are overrided due to some issues like text-overflow thus media alignment feature will not work in this template.
            </div>

            <br/>

            <div class="media-demo">
                <div class="media">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object" src="img/profile-pics/1.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object" src="img/profile-pics/2.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                        <div class="media">
                            <div class="pull-left">
                                <a href="#">
                                    <img class="media-object" src="img/profile-pics/3.jpg" alt="">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Nested media heading</h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media">
                    <div class="pull-right">
                        <a href="#">
                            <img class="media-object" src="img/profile-pics/6.jpg" alt="">
                        </a>
                    </div>

                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>
                </div>
                <div class="media">
                    <div class="pull-left">
                        <a href="#">
                            <img class="media-object" src="img/profile-pics/4.jpg" alt="">
                        </a>
                    </div>
                    <div class="pull-right">
                        <a href="#">
                            <img class="media-object" src="img/profile-pics/5.jpg" alt="">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">Media heading</h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h2>List Groups <small>List groups are a flexible and powerful component for displaying not only simple lists of elements, but complex ones with custom content.</small></h2>

            <ul class="actions">
                <li class="dropdown action-show" uib-dropdown>
                    <a href="" uib-dropdown-toggle>
                        <i class="zmdi zmdi-more-vert"></i>
                    </a>

                    <div class="dropdown-menu pull-right">
                        <p class="p-20">
                            You can put anything here
                        </p>
                    </div>
                </li>
            </ul>
        </div>

        <div class="card-body card-padding">
            <div class="row">
                <div class="col-sm-6 m-b-20">
                    <p class="f-500 m-b-20 c-black">Basic example</p>

                    <ul class="list-group">
                        <li class="list-group-item">Cras justo odio</li>
                        <li class="list-group-item">Dapibus ac facilisis in</li>
                        <li class="list-group-item">Morbi leo risus</li>
                        <li class="list-group-item">Porta ac consectetur ac</li>
                        <li class="list-group-item">Vestibulum at eros</li>
                    </ul>
                </div>

                <div class="col-sm-6 m-b-20">
                    <p class="f-500 m-b-20 c-black">With Badges</p>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge">14</span>
                            Cras justo odio
                        </li>
                        <li class="list-group-item">
                            <span class="badge">2</span>
                            Dapibus ac facilisis in
                        </li>
                        <li class="list-group-item">
                            <span class="badge">1</span>
                            Morbi leo risus
                        </li>
                        <li class="list-group-item">
                            <span class="badge">25</span>
                            Porta ac consectetur ac
                        </li>
                        <li class="list-group-item">
                            <span class="badge">119</span>
                            Vestibulum at eros
                        </li>
                    </ul>
                </div>

                <div class="col-sm-6 m-b-20">
                    <p class="f-500 m-b-20 c-black">Linked Items</p>

                    <div class="list-group">
                        <a href="#" class="list-group-item active"><span class="badge">119</span> Cras justo odio</a>
                        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item">Morbi leo risus</a>
                        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item">Vestibulum at eros</a>
                    </div>
                </div>

                <div class="col-sm-6 m-b-20">
                    <p class="f-500 m-b-20 c-black">Disabled items</p>

                    <div class="list-group">
                        <a href="#" class="list-group-item disabled">Cras justo odio</a>
                        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                        <a href="#" class="list-group-item disabled">Morbi leo risus</a>
                        <a href="#" class="list-group-item disabled">Porta ac consectetur ac</a>
                        <a href="#" class="list-group-item">Vestibulum at eros</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
